
<div class="form-group">
  <%= f.label :id, "#{t('Id')}:", class: "control-label col-xs-12 col-sm-3 no-padding-right" %>
  <div class="col-xs-12 col-sm-9">
    <div class="clearfix">
      <%= f.text_field :id, disabled: true , class: "col-xs-12 col-sm-6"%>
    </div>
  </div>
</div>
<div class="space-2"></div>


<div class="form-group">
  <%= f.label :image_url, "#{t('Image_url')}:", class: "control-label col-xs-12 col-sm-3 no-padding-right" %>
  <div class="col-xs-12 col-sm-9">
    <div class="clearfix">
      <%= f.file_field :image_url, class: "col-xs-12 col-sm-6"%>
    </div>
    <div class="space-8"></div>
    <% unless f.object.image_url.file.nil? || f.object.errors.count > 0 %>
        <div class="clearfix">
          <%= link_to '', data: { 'alert-id' => 'preview'} do %>
              Vorschau öffnen für <%= f.object.image_url.filename_without_hash %>
          <% end %>
        </div>
        <div class="clearfix">
          <%= link_to f.object.image_url.url, target: :_blank do %>
              Download <%= f.object.image_url.filename_without_hash %>
          <% end %>
        </div>
    <% end %>
  </div>
</div>
<div class="space-2"></div>


<div class="form-group">
  <%= f.label :category_id, "#{t('Category')}:", class: "control-label col-xs-12 col-sm-3 no-padding-right" %>
  <div class="col-xs-12 col-sm-9">
    <div class="clearfix">
      <%= f.select :category_id, Category.all.map { |category| [category.title, category.id] }, include_blank: true, class: "col-xs-12 col-sm-6"%>
    </div>
  </div>
</div>
<div class="space-2"></div>


<div class="form-group">
  <%= f.label :min_correct_including, "#{t('Min_correct_including')}:", class: "control-label col-xs-12 col-sm-3 no-padding-right" %>
  <div class="col-xs-12 col-sm-9">
    <div class="clearfix">
      <%= f.text_field :min_correct_including, class: "col-xs-12 col-sm-6"%>
    </div>
  </div>
</div>
<div class="space-2"></div>


<div class="form-group">
  <%= f.label :max_correct_excluding, "#{t('Max_correct_excluding')}:", class: "control-label col-xs-12 col-sm-3 no-padding-right" %>
  <div class="col-xs-12 col-sm-9">
    <div class="clearfix">
      <%= f.text_field :max_correct_excluding, class: "col-xs-12 col-sm-6"%>
    </div>
  </div>
</div>
<div class="space-2"></div>

