<div class="row">
  <div class="col-md-6">
    <%= render :partial => 'shared/simple_search', :locals => { path: admin_memes_path} %>
  </div>


  <div class="col-md-offset-4 col-md-2 top-action">
    <%= link_to content_tag(:span, '', :class => %w(glyphicon glyphicon-plus)).html_safe + content_tag(:span, " #{t('New')} #{t('Meme')}", :class => "action-label").html_safe, new_admin_meme_path, :class => %w(btn btn-primary btn-block) %>
  </div>

  <div class="col-xs-12">
    <div class="table-responsive">
      <table id="sample-table-1" class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th>Id</th>
            <th>Image url</th>
            <th>Category</th>
            <th>Min correct including</th>
            <th>Max correct excluding</th>
            <th>Created at</th>
            <th>Updated at</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @memes.each do |meme| %>
            <tr>
                    <td><%= meme.id %></td>
                    <td><%= meme.image_url %></td>
                    <td><%= "#{meme.category.title} (#{meme.category_id})" %></td>
                    <td><%= meme.min_correct_including %></td>
                    <td><%= meme.max_correct_excluding %></td>
                    <td><%= meme.created_at %></td>
                    <td><%= meme.updated_at %></td>
                    <td>
                <div class='visible-md visible-lg hidden-sm hidden-xs btn-group'>
                  <%= link_to edit_admin_meme_path(meme) do %>
                    <button class='btn btn-xs btn-info'><i class='icon-edit bigger-120'></i></button>
                  <% end %>
                  <%= link_to admin_meme_path(meme), method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <button class='btn btn-xs btn-danger'><i class='icon-trash bigger-120'></i></button>
                  <% end %>
                </div>

                <div class='visible-xs visible-sm hidden-md hidden-lg'>
                  <div class="inline position-relative">
                    <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown"><i class="icon-cog icon-only bigger-110"></i></button>
                    <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
                      <li>
                        <%= link_to edit_admin_meme_path(meme), :class => "tooltip-success" do %>
                          <span class="green"><i class="icon-edit bigger-120"></i></span>
                        <% end %>
                      </li>
                      <li>
                        <%= link_to admin_meme_path(meme), method: :delete, data: { confirm: 'Are you sure?' }, :class => "tooltip-error" do %>
                          <span class="red"><i class="icon-trash bigger-120"></i></span>
                        <% end %>
                      </li>
                    </ul>
                  </div>
                </div>
                
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div><!--/.table-responsive-->
  </div><!--/span-->
</div><!--/row-->


