
<div class="form-group">
  <%= f.label :id, "#{t('Id')}:", class: "control-label col-xs-12 col-sm-3 no-padding-right" %>
  <div class="col-xs-12 col-sm-9">
    <div class="clearfix">
      <%= f.text_field :id, disabled: true , class: "col-xs-12 col-sm-6"%>
    </div>
  </div>
</div>
<div class="space-2"></div>


<div class="form-group">
  <%= f.label :text, "#{t('Text')}:", class: "control-label col-xs-12 col-sm-3 no-padding-right" %>
  <div class="col-xs-12 col-sm-9">
    <div class="clearfix">
      <%= f.text_field :text, class: "col-xs-12 col-sm-6"%>
    </div>
  </div>
</div>
<div class="space-2"></div>


<div class="form-group">
  <%= f.label :information_type_id, "#{t('Information_type')}:", class: "control-label col-xs-12 col-sm-3 no-padding-right" %>
  <div class="col-xs-12 col-sm-9">
    <div class="clearfix">
      <%= f.select :information_type_id, InformationType.all.map { |information_type| [information_type.title, information_type.id] }, include_blank: true, class: "col-xs-12 col-sm-6"%>
    </div>
  </div>
</div>
<div class="space-2"></div>
